{
  "extends": "plugin:instawork/recommended-typescript",
  "plugins": [ "instawork" ],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "instawork/error-object": 0,
    "global-require": 0
  }
}
